.about {
  @include section;
}

.about__list {
  @extend %reset-list;

  --items: 4;
}

.about__title {
  margin-bottom: 10px;

  @include fonts(14px, 16px, 700);
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.about__subtitle {
  @include fonts(14px, 24px, null);
  color: var(--txt-cl);
}

.about__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  background-color: #f5f4fa;
  border-radius: 4px;
}

.about__icon {
  background-color: #f5f4fa;
}
