.about {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__list {
  @extend %reset-list;

  --items: 4;
}

.about__title {
  margin-bottom: 10px;

  @include fonts(14px, 16px, 700);

  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.about__subtitle {
  @include fonts(14px, 24px, null);
  color: var(--txt-cl);
}

.about__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about__icon {
  background-color: #f5f4fa;
}
