.clients {
  @extend %section;
}

.clients__title {
  margin-bottom: 50px;

  @include fonts(36px, 42px, 700);

  text-align: center;

  color: var(--main-txt-cl);
}

.clients__list {
  @extend %reset-list;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  @extend %reset-link;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: rgba(175, 177, 184, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--anim), border var(--anim), border-radius var(--anim);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
    border: 1px solid var(--accent-txt-cl);
    border-radius: 4px;
  }
}

.clients__icon {
  fill: currentColor;
}
