.clients {
  @include section;
}

.clients__title {
  @media screen and (max-width: 1199px) {
    @include fonts(28px, 33px);
    margin-bottom: 30px;
  }
  margin-bottom: 50px;

  @include fonts(36px, 42px, 700);

  text-align: center;

  color: var(--main-txt-cl);
}

.clients__list {
  @extend %reset-list;
  @media screen and (min-width: 480px) {
    --items: 2;
  }

  @media screen and (min-width: 768px) {
    --items: 3;
  }

  @media screen and (min-width: 1200px) {
    --items: 6;
  }
}

.clients__link {
  @extend %reset-link;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 480px) {
    width: 210px;
    height: 92px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }

  color: rgba(175, 177, 184, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--anim), border var(--anim), border-radius var(--anim);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
    border: 1px solid var(--accent-txt-cl);
    border-radius: 4px;
  }
}

.clients__icon {
  fill: currentColor;
}
