.clients {
  @include section;
}

.clients__title {
  @include fonts(28px, 33px);
  margin-bottom: 30px;
  text-align: center;
  color: $mainColor;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include fonts(36px, 42px, 700);
  }
}

.clients__list {
  @extend %reset-list;

  --items: 2;

  @media screen and (min-width: 768px) {
    --items: 3;
  }

  @media screen and (min-width: 1200px) {
    --items: 6;
  }
}

.clients__link {
  @extend %reset-link;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }

  color: rgba(175, 177, 184, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color $anim, border $anim, border-radius $anim;

  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $accentColor;
    border-radius: 4px;
  }
}

.clients__icon {
  fill: currentColor;
}
