.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__list {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @extend %reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include fonts(12px, 14px, 500, 0.02em);
  }
  @include fonts(14px, 16px, 500, 0.02em);
  color: var(--txt-cl);
}

.header__contacts {
  @extend %reset-link;

  display: flex;
  align-items: center;
  transition: color var(--anim);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header__icon {
  @media screen and (max-width: 1199px) {
    margin-right: 8px;
  }
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}
