@import './decimal';

@mixin fonts($fs, $lh, $fw: 400px, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh / $fs);
  letter-spacing: $ls;
}

@mixin section($padding: 60px) {
  padding-top: $padding;
  padding-bottom: $padding;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
