.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;

  @include fonts(14px, 24px, null);

  color: $thirdColor;
}

.agreement__icon--uncheck {
  .agreement__checkbox:checked + .agreement__icon & {
    opacity: 0;
    transition: opacity $anim;
  }
}

.agreement__icon--check {
  opacity: 0;
  fill: $thirdColor;
  transition: opacity $anim;

  .agreement__checkbox:checked + .agreement__icon & {
    opacity: 1;
  }
}

.agreement__text {
  @include fonts(14px, 24px, null);

  color: $thirdColor;
  user-select: none;
  text-underline-position: under;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    @include fonts(12px, 14px, null);
  }
}

.agreement__link {
  color: $accentColor;
}
