.socials__block {
  @extend %reset-list;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  @extend %reset-link;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: rgba(175, 177, 184, 1);
  background-color: $secondColor;

  transition: color $anim, background-color $anim;

  &:hover,
  &:focus {
    color: $secondColor;
    background-color: $accentColor;
  }
}

.socials__icon {
  fill: currentColor;
}
